[submodule "CustomLocalization4EditorExtension~/CustomLocalization4EditorExtension"]
	path = CustomLocalization4EditorExtension~/CustomLocalization4EditorExtension
	url = https://github.com/anatawa12/CustomLocalization4EditorExtension
